
body {
  margin: 0;
  max-width: none;
  padding: 0;
}


#content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}


header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  height: 120px;
}


nav {
  display: flex;
  justify-content: space-around;
}


#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

#logo_link img {
  width: 80px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 500px;
  overflow: hidden;

  align-items: center;
}

#hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

#hero-msg {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;

  position: relative;
  z-index: 2;
}


#hero-msg h1 {
  font-size: 3em;
  color: white;
}

#hero-msg h4 {
  color: white;
  font-size: 1.3em;
}


#hero-box {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  position: relative;
}

#hero-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.35);
  z-index: 1;
}

#hero-img {
  position: relative;
  z-index: 0;
}
